@{
    ViewBag.Title = "About";
}

<p style="margin-top:60px; margin-bottom: 20px;">MyCoffee is an online coffee house where you can order some delicious snacks, sandwiches, muffins and coffee drinks...</p>

<img src="/Img/about.jpg" style="width:400px"/>

<p style="margin-top:20px">This website was created for academic purposes using React and Asp.Net MVC 5 + PostgreSQL.</p>
